In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
csv_path = "HeroesOfPymoli_purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
# Find all unique values in 'players'
all_players = purchase_data_df["SN"].unique()
all_players

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [5]:
# Count 'em
num_players = len(all_players)
num_players

576

In [6]:
# Output in dataframe
total_players_df = pd.DataFrame({"Total Players": [num_players]})
total_players_df

   Total Players
0            576

In [7]:
# Find all unique values in 'items'
all_items = purchase_data_df["Item Name"].unique()
all_items

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

In [8]:
# Count 'em
num_items = len(all_items)
num_items

179

In [9]:
# Find average price of items
average_price = round(purchase_data_df["Price"].mean(),2)
average_price

3.05

In [10]:
# Count no. of purchases
num_purchases = len(purchase_data_df)
print(num_purchases)

780

In [11]:
# Calculate total revenue
total_revenue = round(purchase_data_df["Price"].sum(),2)

In [12]:
# Output in summary dataframe
summary_table_df = pd.DataFrame({"Number of Unique Items": [num_items], "Average Price":[average_price], "Number of Purchases":[num_purchases],"Total Revenue":[total_revenue]})
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [13]:
all_players_data = purchase_data_df.drop_duplicates(subset=["SN"])
#all_players_data

In [14]:
genders = all_players_data["Gender"].value_counts()
genders

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [15]:
total_genders = genders.sum()
total_genders

576

In [16]:
# Pandas will auto generate percentages 
percentage_genders = genders/total_genders *100
percentage_genders

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [17]:
# Don't need square brackets around 'genders' and 'percentage_genders' because they're series
genders_df = pd.DataFrame({"Total Count":genders,"Percentage of Players":round(percentage_genders,2)})
genders_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [18]:
gender_purchase_count = purchase_data_df["Gender"].value_counts()
gender_purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [19]:
# gender_purchase_analysis = pd.DataFrame({"Purchase Count":purchase_count})
# gender_purchase_analysis

In [20]:
# averages = purchase_data_df.loc[:,["Gender","Price"]]
# averages["Price"].mean()

In [21]:
# gender_averages = 
# gender_averages

In [22]:
males = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
#males

In [23]:
total_male_purchases = males["Price"].sum()
total_male_purchases

1967.64

In [24]:
total_male_purchases_no = len(males)
total_male_purchases_no

652

In [25]:
avg_male = round(total_male_purchases/total_male_purchases_no,2)
avg_male

3.02

In [26]:
# total_male_purchases/gender_purchase_analysis... there must be a nicer way

In [27]:
females = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
#females

In [28]:
total_female_purchases = females["Price"].sum()
total_female_purchases

361.94

In [29]:
total_female_purchases_no = len(females)
total_female_purchases_no

113

In [30]:
avg_female = round(total_female_purchases/total_female_purchases_no,2)
avg_female

3.2

In [31]:
others = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
#others

In [32]:
total_other_purchases = others["Price"].sum()
total_other_purchases

50.19

In [33]:
total_other_purchases_no = len(others)
total_other_purchases_no

15

In [34]:
avg_other = round(total_other_purchases/total_other_purchases_no,2)
avg_other

3.35

In [35]:
gender_purchase_analysis = pd.DataFrame({"Purchase Count":gender_purchase_count,"Average Purchase Price":[avg_male, avg_female, avg_other],"Total Purchase Value":[total_male_purchases,total_female_purchases,total_other_purchases]})
#gender_purchase_analysis
#currency formatting at end... ** also how to add 'gender'?

In [36]:
avg_per_person = round(gender_purchase_analysis["Total Purchase Value"]/genders,2)
avg_per_person

Male                     4.07
Female                   4.47
Other / Non-Disclosed    4.56
dtype: float64

In [37]:
gender_purchase_analysis = pd.DataFrame({"Purchase Count":gender_purchase_count,"Average Purchase Price":[avg_male, avg_female, avg_other],"Total Purchase Value":[total_male_purchases,total_female_purchases,total_other_purchases],"Avg Total Purchase per Person":avg_per_person})
gender_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

In [38]:
all_players_age = all_players_data.loc[:,["Age"]]
#all_players_age

In [39]:
# create the bins
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [40]:
all_players_age["Total Count"] = pd.cut(all_players_age["Age"], bins, labels=group_names,include_lowest = True)
#all_players_age

In [41]:
all_players_age = all_players_age.groupby("Total Count")

all_players_age_no = all_players_age.count()
#all_players_age_no

In [42]:
# all_players_age_no_df = pd.DataFrame({"Total Count":all_players_age_no})
# all_players_age_no_df

In [43]:
# Pandas will auto generate percentages 
percentage_ages = round(all_players_age_no/num_players*100,2)
percentage_ages

               Age
Total Count
<10           2.95
10-14         3.82
15-19        18.58
20-24        44.79
25-29        13.37
30-34         9.03
35-39         5.38
40+           2.08

In [44]:
#include age groups in original data
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names,include_lowest = True)
#purchase_data_df

In [45]:
#find info for age bracket 1 (<10)
ab_1 = purchase_data_df.loc[purchase_data_df["Age Group"] == "<10", :]
#ab_1

In [46]:
pc_ab_1 = len(ab_1)
pc_ab_1

23

In [47]:
sum_ab_1 = ab_1["Price"].sum()
sum_ab_1

77.13

In [48]:
mean_ab_1 = round(ab_1["Price"].mean(),2)
mean_ab_1

3.35

In [49]:
all_players_data["Age Group"] = pd.cut(all_players_data["Age"], bins, labels=group_names,include_lowest = True)
#all_players_data

<ipython-input-49-3ea2a0f04ea6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_players_data["Age Group"] = pd.cut(all_players_data["Age"], bins, labels=group_names,include_lowest = True)

In [50]:
ab_1a = all_players_data.loc[all_players_data["Age Group"] == "<10", :]
pc_ab_1a = len(ab_1a)
pc_ab_1a

17

In [51]:
mean_ab_1a = round(sum_ab_1/pc_ab_1a,2)
mean_ab_1a

4.54

In [52]:
#age bracket 2 (10-14)
ab_2 = purchase_data_df.loc[purchase_data_df["Age Group"] == "10-14", :]
#ab_2

In [53]:
pc_ab_2 = len(ab_2)
pc_ab_2

28

In [54]:
sum_ab_2 = ab_2["Price"].sum()
sum_ab_2

82.78

In [55]:
mean_ab_2 = round(ab_2["Price"].mean(),2)
mean_ab_2

2.96

In [56]:
ab_2a = all_players_data.loc[all_players_data["Age Group"] == "10-14", :]
pc_ab_2a = len(ab_2a)
pc_ab_2a

22

In [57]:
mean_ab_2a = round(sum_ab_2/pc_ab_2a,2)
mean_ab_2a

3.76

In [58]:
#age bracket 3 (15-19)
ab_3 = purchase_data_df.loc[purchase_data_df["Age Group"] == "15-19", :]
pc_ab_3 = len(ab_3)
sum_ab_3 = ab_3["Price"].sum()
mean_ab_3 = round(ab_3["Price"].mean(),2)

print(pc_ab_3)
print(sum_ab_3)
print(mean_ab_3)

136
412.89
3.04

In [59]:
ab_3a = all_players_data.loc[all_players_data["Age Group"] == "15-19", :]
pc_ab_3a = len(ab_3a)
mean_ab_3a = round(sum_ab_3/pc_ab_3a,2)

print(mean_ab_3a)

3.86

In [60]:
#age bracket 4 (20-24)
ab_4 = purchase_data_df.loc[purchase_data_df["Age Group"] == "20-24", :]
pc_ab_4 = len(ab_4)
sum_ab_4 = ab_4["Price"].sum()
mean_ab_4 = round(ab_4["Price"].mean(),2)

print(pc_ab_4)
print(sum_ab_4)
print(mean_ab_4)

365
1114.06
3.05

In [61]:
ab_4a = all_players_data.loc[all_players_data["Age Group"] == "20-24", :]
pc_ab_4a = len(ab_4a)
mean_ab_4a = round(sum_ab_4/pc_ab_4a,2)

print(mean_ab_4a)

4.32

In [62]:
#age bracket 5 (25-29)
ab_5 = purchase_data_df.loc[purchase_data_df["Age Group"] == "25-29", :]
pc_ab_5 = len(ab_5)
sum_ab_5 = round(ab_5["Price"].sum(),2)
mean_ab_5 = round(ab_5["Price"].mean(),2)

print(pc_ab_5)
print(sum_ab_5)
print(mean_ab_5)

101
293.0
2.9

In [63]:
ab_5a = all_players_data.loc[all_players_data["Age Group"] == "25-29", :]
pc_ab_5a = len(ab_5a)
mean_ab_5a = round(sum_ab_5/pc_ab_5a,2)

print(mean_ab_5a)

3.81

In [64]:
#age bracket 6 (30-34)
ab_6 = purchase_data_df.loc[purchase_data_df["Age Group"] == "30-34", :]
pc_ab_6 = len(ab_6)
sum_ab_6 = round(ab_6["Price"].sum(),2)
mean_ab_6 = round(ab_6["Price"].mean(),2)

print(pc_ab_6)
print(sum_ab_6)
print(mean_ab_6)

73
214.0
2.93

In [65]:
ab_6a = all_players_data.loc[all_players_data["Age Group"] == "30-34", :]
pc_ab_6a = len(ab_6a)
mean_ab_6a = round(sum_ab_6/pc_ab_6a,2)

print(mean_ab_6a)

4.12

In [66]:
#age bracket 7 (35-39)
ab_7 = purchase_data_df.loc[purchase_data_df["Age Group"] == "35-39", :]
pc_ab_7 = len(ab_7)
sum_ab_7 = round(ab_7["Price"].sum(),2)
mean_ab_7 = round(ab_7["Price"].mean(),2)

print(pc_ab_7)
print(sum_ab_7)
print(mean_ab_7)

41
147.67
3.6

In [67]:
ab_7a = all_players_data.loc[all_players_data["Age Group"] == "35-39", :]
pc_ab_7a = len(ab_7a)
mean_ab_7a = round(sum_ab_7/pc_ab_7a,2)

print(mean_ab_7a)

4.76

In [68]:
#age bracket 8 (40+)
ab_8 = purchase_data_df.loc[purchase_data_df["Age Group"] == "40+", :]
pc_ab_8 = len(ab_8)
sum_ab_8 = round(ab_8["Price"].sum(),2)
mean_ab_8 = round(ab_8["Price"].mean(),2)

print(pc_ab_8)
print(sum_ab_8)
print(mean_ab_8)

13
38.24
2.94

In [69]:
ab_8a = all_players_data.loc[all_players_data["Age Group"] == "40+", :]
pc_ab_8a = len(ab_8a)
mean_ab_8a = round(sum_ab_8/pc_ab_8a,2)

print(mean_ab_8a)

3.19

In [70]:
#output summary table
ageanalysis = pd.DataFrame({"Age Ranges":group_names,"Purchase Count":[pc_ab_1,pc_ab_2,pc_ab_3,pc_ab_4,pc_ab_5,pc_ab_6,pc_ab_7,pc_ab_8],"Average Purchase Price":[mean_ab_1,mean_ab_2,mean_ab_3,mean_ab_4,mean_ab_5,mean_ab_6,mean_ab_7,mean_ab_8],"Total Purchase Value":[sum_ab_1,sum_ab_2,sum_ab_3,sum_ab_4,sum_ab_5,sum_ab_6,sum_ab_7,sum_ab_8], "Avg Total Purchase per Person":[mean_ab_1a,mean_ab_2a,mean_ab_3a,mean_ab_4a,mean_ab_5a,mean_ab_6a,mean_ab_7a,mean_ab_8a]})
ageanalysis.set_index("Age Ranges")
#this isn't working?
ageanalysis

,Age Ranges,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,<10,23,3.35,77.13,4.54
1,10-14,28,2.96,82.78,3.76
2,15-19,136,3.04,412.89,3.86
3,20-24,365,3.05,1114.06,4.32
4,25-29,101,2.90,293.00,3.81
5,30-34,73,2.93,214.00,4.12
6,35-39,41,3.60,147.67,4.76
7,40+,13,2.94,38.24,3.19

In [71]:
by_sn_df = purchase_data_df.groupby(["SN"])
print(by_sn_df)
by_sn_df.head()

# by_price = by_sn_df.sort_values("Price", ascending=False)
# by_price

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020D82FA0670>

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [72]:
sums_sn = by_sn_df["Price"].sum()
sums_sn

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [73]:
ranked_sums_sn = sums_sn.sort_values(ascending=False)
top5_spenders = ranked_sums_sn.head(5)
top5_spenders

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [74]:
#now looking for data according to above SNs (this was my second strategy)
lisosia93 = purchase_data_df.loc[purchase_data_df["SN"] == "Lisosia93", :]
lisosia93

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,25-29
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80,25-29
603,603,Lisosia93,25,Male,132,Persuasion,3.19,25-29
609,609,Lisosia93,25,Male,40,Second Chance,2.52,25-29

In [75]:
lisosia93_purchases = len(lisosia93)
lisosia93_spent = lisosia93["Price"].sum()
lisosia93_avg = round(lisosia93["Price"].mean(),2)

print(lisosia93_purchases)
print(lisosia93_spent)
print(lisosia93_avg)

5
18.96
3.79

In [76]:
idastidru52 = purchase_data_df.loc[purchase_data_df["SN"] == "Idastidru52", :]
idastidru52

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93,20-24
490,490,Idastidru52,24,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
543,543,Idastidru52,24,Male,121,Massacre,1.60,20-24
676,676,Idastidru52,24,Male,111,Misery's End,4.89,20-24

In [77]:
idastidru52_purchases = len(idastidru52)
idastidru52_spent = idastidru52["Price"].sum()
idastidru52_avg = round(idastidru52["Price"].mean(),2)

print(idastidru52_purchases)
print(idastidru52_spent)
print(idastidru52_avg)

4
15.45
3.86

In [78]:
chamjask73 = purchase_data_df.loc[purchase_data_df["SN"] == "Chamjask73", :]
chamjask73

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
520,520,Chamjask73,22,Female,109,"Downfall, Scalpel Of The Emperor",4.76,20-24
564,564,Chamjask73,22,Female,52,Hatred,4.84,20-24

In [79]:
chamjask73_purchases = len(chamjask73)
chamjask73_spent = chamjask73["Price"].sum()
chamjask73_avg = round(chamjask73["Price"].mean(),2)

print(chamjask73_purchases)
print(chamjask73_spent)
print(chamjask73_avg)

3
13.83
4.61

In [80]:
iral74 = purchase_data_df.loc[purchase_data_df["SN"] == "Iral74", :]
iral74

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
128,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
623,623,Iral74,21,Male,114,Yearning Mageblade,3.82,20-24
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24

In [81]:
iral74_purchases = len(iral74)
iral74_spent = round(iral74["Price"].sum(),2)
iral74_avg = round(iral74["Price"].mean(),2)

print(iral74_purchases)
print(iral74_spent)
print(iral74_avg)

4
13.62
3.4

In [82]:
iskadarya95 = purchase_data_df.loc[purchase_data_df["SN"] == "Iskadarya95", :]
iskadarya95

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
148,148,Iskadarya95,20,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
247,247,Iskadarya95,20,Male,82,Nirvana,4.90,20-24
318,318,Iskadarya95,20,Male,91,Celeste,4.17,20-24

In [83]:
iskadarya95_purchases = len(iskadarya95)
iskadarya95_spent = round(iskadarya95["Price"].sum(),2)
iskadarya95_avg = round(iskadarya95["Price"].mean(),2)

print(iskadarya95_purchases)
print(iskadarya95_spent)
print(iskadarya95_avg)

3
13.1
4.37

In [84]:
# #note: should correspond to total prices
# tallies = by_sn_df["SN"].value_counts().sort_values(ascending=False)
# tallies

In [85]:
# top_spender_averages = round(ranked_sums_sn/tallies,2)
# top_spender_averages

In [86]:
# top_spenders = pd.DataFrame({"Purchase Count":tallies,"Average Purchase Price":top_spender_averages,"Total Purchase Value":sums_sn})
# top_spenders

In [87]:
# top_spenders = pd.DataFrame({"Total Purchase Value":ranked_sums_sn})
# top5_spenders = top_spenders.head(5)
# top5_spenders

In [88]:
#top spenders output table
top_spenders = pd.DataFrame({"Purchase Count":[lisosia93_purchases,idastidru52_purchases,chamjask73_purchases,iral74_purchases,iskadarya95_purchases],"Average Purchase Price":[lisosia93_avg,idastidru52_avg,chamjask73_avg,iral74_avg,iskadarya95_avg],"Total Purchase Value":top5_spenders})
top_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [89]:
weapons_bought=purchase_data_df["Item Name"].value_counts()
top5_weapons = weapons_bought.head(5)
top5_weapons

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64

In [90]:
finalcritic = purchase_data_df.loc[purchase_data_df["Item Name"] == "Final Critic", :]
finalcritic

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19,20-24
252,252,Tyaelo67,39,Male,92,Final Critic,4.88,35-39
273,273,Phyali88,15,Female,92,Final Critic,4.88,15-19
277,277,Ennalmol65,24,Male,92,Final Critic,4.88,20-24
411,411,Lisico81,10,Male,92,Final Critic,4.19,10-14
536,536,Siallylis44,20,Male,92,Final Critic,4.19,20-24
712,712,Lisilsa62,25,Male,92,Final Critic,4.88,25-29
722,722,Ilarin91,22,Male,92,Final Critic,4.88,20-24
767,767,Ilmol66,8,Female,92,Final Critic,4.88,<10
768,768,Assassasta79,38,Male,92,Final Critic,4.88,35-39
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [91]:
finalcritic_avg = round(finalcritic["Price"].mean(),2)
finalcritic_total = round(finalcritic["Price"].sum(),2)

print(finalcritic_avg)
print(finalcritic_total)

4.61
59.99

In [92]:
oathbreaker = purchase_data_df.loc[purchase_data_df["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm", :]
oathbreaker

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
62,62,Yadaphos40,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
72,72,Marilsa69,25,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
464,464,Rianistast50,22,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
580,580,Tyida79,24,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
627,627,Arin32,25,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
658,658,Quilassa66,7,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,<10
706,706,Chanossanya44,20,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
730,730,Aidaira26,30,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,30-34
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39

In [93]:
oathbreaker_avg = round(oathbreaker["Price"].mean(),2)
oathbreaker_total = round(oathbreaker["Price"].sum(),2)

print(oathbreaker_avg)
print(oathbreaker_total)

4.23
50.76

In [94]:
nirvana = purchase_data_df.loc[purchase_data_df["Item Name"] == "Nirvana", :]
nirvana

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
18,18,Reunasu60,22,Female,82,Nirvana,4.9,20-24
88,88,Laedallo55,30,Male,82,Nirvana,4.9,30-34
202,202,Phistym51,37,Male,82,Nirvana,4.9,35-39
240,240,Lirtastsda29,16,Male,82,Nirvana,4.9,15-19
247,247,Iskadarya95,20,Male,82,Nirvana,4.9,20-24
274,274,Aerithllora36,29,Female,82,Nirvana,4.9,25-29
504,504,Chamilsala65,23,Female,82,Nirvana,4.9,20-24
522,522,Meosridil82,18,Male,82,Nirvana,4.9,15-19
666,666,Assilsan72,20,Female,82,Nirvana,4.9,20-24

In [95]:
nirvana_avg = round(nirvana["Price"].mean(),2)
nirvana_total = round(nirvana["Price"].sum(),2)

print(nirvana_avg)
print(nirvana_total)

4.9
44.1

In [96]:
extraction = purchase_data_df.loc[purchase_data_df["Item Name"] == "Extraction, Quickblade Of Trembling Hands", :]
extraction

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
157,157,Marast30,18,Female,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
414,414,Marokian45,23,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
483,483,Saistyphos30,35,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,35-39
498,498,Firon67,35,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,35-39
558,558,Lassadarsda57,25,Female,108,"Extraction, Quickblade Of Trembling Hands",3.53,25-29
640,640,Sausosia74,22,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
678,678,Rarallo90,33,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,30-34

In [97]:
extraction_avg = round(extraction["Price"].mean(),2)
extraction_total = round(extraction["Price"].sum(),2)

print(extraction_avg)
print(extraction_total)

3.53
31.77

In [98]:
fiery = purchase_data_df.loc[purchase_data_df["Item Name"] == "Fiery Glass Crusader", :]
fiery

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
132,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58,20-24
207,207,Sondastsda82,24,Male,145,Fiery Glass Crusader,4.58,20-24
329,329,Ceoral34,20,Male,145,Fiery Glass Crusader,4.58,20-24
438,438,Qilunan34,23,Male,145,Fiery Glass Crusader,4.58,20-24
474,474,Ina92,31,Male,145,Fiery Glass Crusader,4.58,30-34
572,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,4.58,15-19
683,683,Ialallo29,15,Female,145,Fiery Glass Crusader,4.58,15-19
741,741,Phiallylis33,19,Male,145,Fiery Glass Crusader,4.58,15-19
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19

In [99]:
fiery_avg = round(fiery["Price"].mean(),2)
fiery_total = round(fiery["Price"].sum(),2)

print(fiery_avg)
print(fiery_total)

4.58
41.22

In [100]:
singed = purchase_data_df.loc[purchase_data_df["Item Name"] == "Singed Scalpel", :]
singed

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
175,175,Indcil77,17,Male,103,Singed Scalpel,4.35,15-19
373,373,Aina42,25,Male,103,Singed Scalpel,4.35,25-29
455,455,Lisossala30,20,Male,103,Singed Scalpel,4.35,20-24
460,460,Assistasda90,25,Male,103,Singed Scalpel,4.35,25-29
476,476,Marassa62,21,Male,103,Singed Scalpel,4.35,20-24
634,634,Eoral49,16,Male,103,Singed Scalpel,4.35,15-19
660,660,Isri34,38,Male,103,Singed Scalpel,4.35,35-39
714,714,Tyidaim51,16,Female,103,Singed Scalpel,4.35,15-19

In [101]:
singed_avg = round(singed["Price"].mean(),2)
singed_total = round(singed["Price"].sum(),2)

print(singed_avg)
print(singed_total)

4.35
34.8

In [102]:
# weapon_prices = purchase_data_df.drop_duplicates(subset=["Item Name"])
# weapon_prices_each = weapon_prices.loc[:,["Item Name", "Price"]]
# weapon_prices_each

In [103]:
# by_weapon_df = purchase_data_df.groupby(["Item Name"])
# print(by_weapon_df)
# total_weapon_price = by_weapon_df["Price"].sum()
# total_weapon_price

In [104]:
#output most popular weapons table. note: I have used the top 5 generated by my code above, not those in the instructions
#still need to add item id
top_weapons = pd.DataFrame({"Purchase Count":top5_weapons,"Item Price":[finalcritic_avg,oathbreaker_avg,nirvana_avg,extraction_avg,fiery_avg],"Total Purchase Value":[finalcritic_total,oathbreaker_total,nirvana_total,extraction_total,fiery_total]})
top_weapons

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Persuasion,9,4.90,44.10
Nirvana,9,3.53,31.77
Fiery Glass Crusader,9,4.58,41.22

In [105]:
purchase_data_df = purchase_data_df.groupby("Item Name")
most_profitable = purchase_data_df["Price"].sum().sort_values(ascending=False)
top5_profitable = most_profitable.head(5)

In [106]:
#output most profitable weapons table.
#still need to add item id
most_profitable_summary = pd.DataFrame({"Purchase Count":[len(finalcritic),len(oathbreaker),len(nirvana),len(fiery),len(singed)],"Item Price":[finalcritic_avg,oathbreaker_avg,nirvana_avg,fiery_avg,singed_avg],"Total Purchase Value":top5_profitable})
most_profitable_summary

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,4.61,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
Nirvana,9,4.90,44.10
Fiery Glass Crusader,9,4.58,41.22
Singed Scalpel,8,4.35,34.80

In [ ]:
#I definitely know this code could be much better, especially in efficiency!! If I had more time I'd like to work out 
#how to not be so repetitive.